In [1]:
%%time
import pandas as pd
import requests

CPU times: user 1.86 s, sys: 179 ms, total: 2.04 s
Wall time: 346 ms

In [2]:
%%time

START = "2023-03-01"
END = "2023-09-01"

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 7.87 µs

In [3]:
%%time

response = requests.get(f"https://data-charts-api.hexlet.app/visits?begin={START}&end={END}")

data = response.json()

df_visits = pd.DataFrame(data)

df_visits.head()

CPU times: user 459 ms, sys: 131 ms, total: 590 ms
Wall time: 5.6 s

,datetime,platform,user_agent,visit_id
0,"Wed, 01 Mar 2023 23:17:37 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1de9ea66-70d3-4a1f-8735-df5ef7697fb9
1,"Sat, 04 Mar 2023 03:23:34 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1de9ea66-70d3-4a1f-8735-df5ef7697fb9
2,"Wed, 01 Mar 2023 12:57:13 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,f149f542-e935-4870-9734-6b4501eaf614
3,"Wed, 01 Mar 2023 13:07:19 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1
4,"Sun, 05 Mar 2023 22:02:39 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7...,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1

In [4]:
df_visits.describe(include='all')

,datetime,platform,user_agent,visit_id
count,308871,308871,308871,308871
unique,303530,4,32,170101
top,"Tue, 14 Mar 2023 13:31:26 GMT",web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,5f260cd8-3c51-41fe-a394-8f5213d58793
freq,4,278078,15679,4

In [6]:
%%time

response = requests.get(f"https://data-charts-api.hexlet.app/registrations?begin={START}&end={END}")

data = response.json()

df_registrations = pd.DataFrame(data)

df_registrations.head()

CPU times: user 129 ms, sys: 17.4 ms, total: 146 ms
Wall time: 1.19 s

,datetime,email,platform,registration_type,user_id
0,"Wed, 01 Mar 2023 00:25:39 GMT",joseph95@example.org,web,google,8838849
1,"Wed, 01 Mar 2023 14:53:01 GMT",janetsuarez@example.net,web,yandex,8741065
2,"Wed, 01 Mar 2023 14:27:36 GMT",robert67@example.org,web,google,1866654
3,"Wed, 01 Mar 2023 02:42:34 GMT",elam@example.net,web,apple,1577584
4,"Wed, 01 Mar 2023 10:27:14 GMT",stephanie68@example.net,web,yandex,4765395

In [7]:
df_registrations.describe().head()

,datetime,email,platform,registration_type,user_id
count,27934,27934,27934,27934,27934
unique,27913,26454,3,4,27903
top,"Tue, 04 Apr 2023 15:03:09 GMT",osmith@example.com,android,email,1396855
freq,2,7,13385,11798,2

In [5]:
%%time

# Создание датафрейма с уникальными значениями в колонке "user_agent"
df_unique_user_agents = df_visits[['user_agent']].drop_duplicates()

# Сохранение в Excel файл
excel_filename = 'unique_user_agents_1.xlsx'
df_unique_user_agents.to_excel(excel_filename, index=False)

print(f"Уникальные значения в колонке 'user_agent' сохранены в файле: {excel_filename}")

Уникальные значения в колонке 'user_agent' сохранены в файле: unique_user_agents_1.xlsx
CPU times: user 88.2 ms, sys: 22.9 ms, total: 111 ms
Wall time: 171 ms