Проект модуля #3
# Дашборд конверсий
Аналитик данных

# Шаг 1
## Подготовка к работе с данными

Загрузите данные по рекламам из csv

In [46]:
%%time
import pandas as pd
import requests

CPU times: user 12 µs, sys: 2 µs, total: 14 µs
Wall time: 20 µs

In [40]:
%%time
from io import StringIO

response = requests.get('https://drive.google.com/uc?id=1pwrFxZKf-fNiFwv8DIzt5bNhlzcxvmcz')
csv_data = StringIO(response.text)

# Создание DataFrame (Если добавят название колонок, то запустить этот код)
#ads = pd.read_csv(csv_data)

# Создание DataFrame с указанием названий колонок
column_names = ['date', 'utm_source', 'utm_medium', 'utm_campaign', 'cost']
df_ads = pd.read_csv(csv_data, names=column_names, header=None)

df_ads.head()

CPU times: user 99.5 ms, sys: 12.6 ms, total: 112 ms
Wall time: 1.15 s

                  date utm_source utm_medium              utm_campaign  cost
0  2023-03-01T09:16:57     google        cpc  virtual_reality_workshop   238
1  2023-03-02T12:48:25     google        cpc  virtual_reality_workshop   164
2  2023-03-03T13:39:30     google        cpc  virtual_reality_workshop   240
3  2023-03-04T16:42:54     google        cpc  virtual_reality_workshop   167
4  2023-03-05T03:58:19     google        cpc  virtual_reality_workshop   268

Изучите данные, сделайте предварительный анализ с помощью dataframe.describe

In [81]:
ads.describe(include='all')

,date,utm_source,utm_medium,utm_campaign,cost
count,180,180,180,180,180.000000
unique,180,4,2,5,NaN
top,2023-03-01T09:16:57,yandex,cpc,cybersecurity_special,NaN
freq,1,79,115,43,NaN
mean,NaN,NaN,NaN,NaN,192.533333
std,NaN,NaN,NaN,NaN,57.017335
min,NaN,NaN,NaN,NaN,100.000000
25%,NaN,NaN,NaN,NaN,143.750000
50%,NaN,NaN,NaN,NaN,181.500000
75%,NaN,NaN,NaN,NaN,241.250000
max,NaN,NaN,NaN,NaN,300.000000

Визиты из CSV

In [66]:
df_visits_csv = pd.read_csv("https://drive.google.com/uc?id=1QosQQ4RRNR9rkL4t7sB707h2Uy0XfYJe")

df_visits_csv.head()

,uuid,platform,user_agent,date
0,1de9ea66-70d3-4a1f-8735-df5ef7697fb9,web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,2023-03-01T13:29:22
1,f149f542-e935-4870-9734-6b4501eaf614,web,Mozilla/5.0 (X11; CrOS x86_64 8172.45.0) Apple...,2023-03-01T16:44:28
2,f149f542-e935-4870-9734-6b4501eaf614,web,Mozilla/5.0 (X11; CrOS x86_64 8172.45.0) Apple...,2023-03-06T06:12:36
3,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-03-01T20:16:37
4,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-03-05T17:42:47

In [80]:
df_visits_csv.describe().head()

,uuid,platform,user_agent,date
count,1000,1000,1000,1000
unique,519,3,28,996
top,251a0926-ece3-4d77-aa42-ab569fdf9fe2,web,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,2023-03-01T08:01:45
freq,4,954,71,2

Регистрации из CSV

In [70]:
df_registrations_csv = pd.read_csv("https://drive.google.com/uc?id=1AeQz0kaSgz0lxYSDtuNm36muhy5fRCzZ")

df_registrations_csv.head()

,date,user_id,email,platform,registration_type
0,2023-03-01T00:25:39,8838849,joseph95@example.org,web,google
1,2023-03-01T14:53:01,8741065,janetsuarez@example.net,web,yandex
2,2023-03-01T14:27:36,1866654,robert67@example.org,web,google
3,2023-03-01T02:42:34,1577584,elam@example.net,web,apple
4,2023-03-01T10:27:14,4765395,stephanie68@example.net,web,yandex

In [72]:
df_registrations_csv.describe(include='all')

,date,user_id,email,platform,registration_type
count,1000,1.000000e+03,1000,1000,1000
unique,1000,NaN,997,3,4
top,2023-03-01T00:25:39,NaN,zanderson@example.org,android,email
freq,1,NaN,2,517,446
mean,NaN,4.488623e+06,NaN,NaN,NaN
std,NaN,2.620568e+06,NaN,NaN,NaN
min,NaN,2.236800e+04,NaN,NaN,NaN
25%,NaN,2.235489e+06,NaN,NaN,NaN
50%,NaN,4.473044e+06,NaN,NaN,NaN
75%,NaN,6.779707e+06,NaN,NaN,NaN
max,NaN,8.881772e+06,NaN,NaN,NaN

# Шаг 2
## Запросы к API
Запросите данные по API за период 2023-03-01 -> 2023-09-01

Визиты

In [47]:
START = "2023-03-01"
END = "2023-09-01"

In [43]:
%%time

response = requests.get(f"https://data-charts-api.hexlet.app/visits?begin={START}&end={END}")

data = response.json()

df_visits = pd.DataFrame(data)

df_visits.head()

CPU times: user 851 ms, sys: 173 ms, total: 1.02 s
Wall time: 12.6 s

,datetime,platform,user_agent,visit_id
0,"Wed, 01 Mar 2023 13:29:22 GMT",web,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,1de9ea66-70d3-4a1f-8735-df5ef7697fb9
1,"Wed, 01 Mar 2023 16:44:28 GMT",web,Mozilla/5.0 (X11; CrOS x86_64 8172.45.0) Apple...,f149f542-e935-4870-9734-6b4501eaf614
2,"Mon, 06 Mar 2023 06:12:36 GMT",web,Mozilla/5.0 (X11; CrOS x86_64 8172.45.0) Apple...,f149f542-e935-4870-9734-6b4501eaf614
3,"Wed, 01 Mar 2023 20:16:37 GMT",web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1
4,"Sun, 05 Mar 2023 17:42:47 GMT",web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,08f0ebd4-950c-4dd9-8e97-b5bdf073eed1

Регистрации

In [49]:
%%time

response = requests.get(f"https://data-charts-api.hexlet.app/registrations?begin={START}&end={END}")

data = response.json()

df_registrations = pd.DataFrame(data)

df_registrations.head()

CPU times: user 166 ms, sys: 21 ms, total: 187 ms
Wall time: 1.28 s

,datetime,email,platform,registration_type,user_id
0,"Wed, 01 Mar 2023 00:25:39 GMT",joseph95@example.org,web,google,8838849
1,"Wed, 01 Mar 2023 14:53:01 GMT",janetsuarez@example.net,web,yandex,8741065
2,"Wed, 01 Mar 2023 14:27:36 GMT",robert67@example.org,web,google,1866654
3,"Wed, 01 Mar 2023 02:42:34 GMT",elam@example.net,web,apple,1577584
4,"Wed, 01 Mar 2023 10:27:14 GMT",stephanie68@example.net,web,yandex,4765395

# Шаг 3

## Расчет метрик

Сгруппируйте данные визитов по датам и платформам

In [56]:
# Задать путь и имя файла Excel, куда будем сохранять
excel_filename = "filtered_data.xlsx"

# Сохранить DataFrame в файл Excel
df_visits.to_excel(excel_filename, index=False)

print(f"DataFrame успешно сохранен в файл {excel_filename}")

DataFrame успешно сохранен в файл filtered_data.xlsx